<%-include('partials/head.html')-%>
<main>
    <h1>Recherchez un restaurant par son nom</h1>
    <form action="/restaurants" method="GET">
        <input type="text" name="name" id="name" placeholder="nom">
        <input type="submit" value="soumettre la recherche">
    </form>
</main>
<%-include('partials/foot.html')-%>